@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");
* {
  /*reset browser default css style*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Courier New", Courier, monospace;
  /* setup color variables for css */
  --bg-primary: #505f66; /*invoke --> var(--bg-primary)*/
  --bg-secondary: #6e8898;
  --font-primary: #d3d0cb;
  --font-secondary: #cbac3b;
  --backup-color: #e23737;
}

/*header styling*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-primary);
  padding: 15px 20px;
}

header .logo {
  color: var(--font-primary);
}

header .navbar {
  display: flex;
  margin-left: -120px;
  align-self: center;
  gap: 18px;
}

header .navbar a {
  text-decoration: none;
  color: var(--font-primary);
  transition: color 0.3s ease;
}

header .navbar a:hover {
  color: var(--font-secondary);
}

header button {
  background: var(--backup-color);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--font-primary);
  transition: color 0.3s ease;
  cursor: pointer;
}

header button:hover {
  color: var(--font-secondary);
}

/*body styling*/
main {
  background: var(--bg-secondary);
  padding: 200px 25px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*hero section styling*/
main h1 {
  font-weight: 900;
  font-size: 42px;
}

main h1 span {
  color: var(--font-secondary);
}

main h2 {
  font-weight: 800;
  font-size: 32px;
}

main img {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 140px;
  width: 140px;
  border-radius: 20px;
}

main blockquote {
  margin-bottom: 120px;
  font-size: 14px;
  font-style: italic;
}

/*details styling*/
.details {
  display: flex;
  justify-content: space-evenly;
}

.details article {
  width: 60%;
  font-size: 14px;
}

.details article h3 {
  background: var(--bg-primary);
  padding: 4px 8px;
  border-radius: 5px;
  color: var(--font-primary);
  width: fit-content;
  margin-bottom: 10px;
}

.details article a {
  text-decoration: none;
  color: var(--font-primary);
  transition: color 0.3s ease;
}

.details article a:hover {
  color: var(--font-secondary);
}

.progressbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progressbar label {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 5px;
}

/*footer styling*/
hr {
  color: var(--font-primary);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-primary);
}

footer p {
  padding: 40px 0 20px;
  color: var(--bg-secondary);
}

footer a {
  text-decoration: none;
  color: var(--font-primary);
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--font-secondary);
}

footer a:last-child {
  padding: 14px 0 28px;
}
